[phases.setup]
nixPkgs = ['nodejs_22']

[phases.install]
cmds = ['npm install']

[phases.build]
cmds = ['npm run build']

[start]
cmd = 'npx http-server dist -p ${PORT:-3000} -a 0.0.0.0 --proxy http://localhost:${PORT:-3000}?'
